In [138]:
import tensorflow as tf

In [377]:
import numpy as np
import os
import pandas as pd
# dirname = os.path.dirname(__file__)
# filename = os.path.join(dirname, 'dataset/foodcostpred/Data_Train.xlsx')
training_data = pd.read_excel('dataset/Data_Train.xlsx')
test_data = pd.read_excel('dataset/Data_Test.xlsx')
training_data = pd.DataFrame(training_data,columns=['TITLE','RESTAURANT_ID','CUISINES', 'TIME','CITY','LOCALITY','RATING', 'VOTES','COST'])
test_data = pd.DataFrame(test_data,columns=['TITLE','RESTAURANT_ID','CUISINES', 'TIME','CITY','LOCALITY','RATING', 'VOTES','COST'])

In [378]:
# --------------CHECK FEATURES---------------

#Training Set

print("\nEDA on Training Set\n")
print("#"*30)
print("\nFeatures/Columns : \n", training_data.columns)
print("\n\nNumber of Features/Columns : ", len(training_data.columns))
print("\nNumber of Rows : ",len(training_data))
print("\n\nData Types :\n", training_data.dtypes)
print("\nContains NaN/Empty cells : ", training_data.isnull().values.any())
print("\nTotal empty cells by column :\n", training_data.isnull().sum(), "\n\n")


# Test Set
print("#"*30)
print("\nEDA on Test Set\n")
print("#"*30)
print("\nFeatures/Columns : \n",test_data.columns)
print("\n\nNumber of Features/Columns : ",len(test_data.columns))
print("\nNumber of Rows : ",len(test_data))
print("\n\nData Types :\n", test_data.dtypes)
print("\nContains NaN/Empty cells : ", test_data.isnull().values.any())
print("\nTotal empty cells by column :\n", test_data.isnull().sum())

EDA on Training Set

##############################

Features/Columns :
 Index(['TITLE', 'RESTAURANT_ID', 'CUISINES', 'TIME', 'CITY', 'LOCALITY',
       'RATING', 'VOTES', 'COST'],
      dtype='object')


Number of Features/Columns :  9

Number of Rows :  12690


Data Types :
 TITLE            object
RESTAURANT_ID     int64
CUISINES         object
TIME             object
CITY             object
LOCALITY         object
RATING           object
VOTES            object
COST              int64
dtype: object

Contains NaN/Empty cells :  True

Total empty cells by column :
 TITLE               0
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY              112
LOCALITY           98
RATING              2
VOTES            1204
COST                0
dtype: int64


##############################

EDA on Test Set

##############################

Features/Columns :
 Index(['TITLE', 'RESTAURANT_ID', 'CUISINES', 'TIME', 'CITY', 'LOCALITY',
       'RATING', 'VOTES', 'COST'],
      dtype='object')


Number of Features/Columns :  9

Number of Rows :  4231


Data Types :
 TITLE             object
RESTAURANT_ID      int64
CUISINES          object
TIME              object
CITY              object
LOCALITY          object
RATING            object
VOTES             object
COST             float64
dtype: object

Contains NaN/Empty cells :  True

Total empty cells by column :
 TITLE               0
RESTAURANT_ID       0
CUISINES            0
TIME                0
CITY               35
LOCALITY           30
RATING              2
VOTES             402
COST             4231
dtype: int64

In [379]:

###############################################################################################################################################

# Data Analysisng

###############################################################################################################################################


#Combining trainig set and test sets for analysing data and finding patterns

data_temp = [training_data[['TITLE', 'RESTAURANT_ID', 'CUISINES', 'TIME', 'CITY', 'LOCALITY','RATING', 'VOTES']],
             test_data]
data_temp = pd.concat(data_temp)

# Analysing TITLE 
new_df = data_temp['TITLE'].str.split(',',expand=True)
data_temp['TITLE'] = pd.concat([new_df[[0]], new_df[1]], axis=1)
data_temp['TITLE'] = data_temp['TITLE'].str.upper()

print("\n\nNumber of Unique Titles : ", len(pd.Series(data_temp['TITLE']).unique()))
print("\n\nUnique Titles:\n", pd.Series(data_temp['TITLE']).unique())
all_titles = list(pd.Series(data_temp['TITLE']).unique())
all_titles.append('NONE')


# Analysing CUISINES
new_df1 = data_temp['CUISINES'].str.split(',',expand=True)
data_temp['CUISINES'] = pd.concat([new_df1[[0]], new_df1[1], new_df1[3], new_df1[4], new_df1[5], new_df1[6],
                                   new_df1[7]],axis=1)
data_temp['CUISINES'] = data_temp['CUISINES'].str.upper()

print("\n\nNumber of Unique CUISINES : ", len(pd.Series(data_temp['CUISINES']).unique()))
print("\n\nUnique CUISINES:\n", pd.Series(data_temp['CUISINES']).unique())
all_cuisines = list(pd.Series(data_temp['CUISINES']).unique())

# Analysing CITY
data_temp['CITY'] = data_temp['CITY'].str.upper()

print("\n\nNumber of Unique CITY : ", len(pd.Series(data_temp['CITY']).unique()))
print("\n\nUnique CITY:\n", pd.Series(data_temp['CITY']).unique())
all_cities = list(pd.Series(data_temp['CITY']).unique())

# Analysing LOCALITY
data_temp['LOCALITY'] = data_temp['LOCALITY'].str.upper()

print("\n\nNumber of Unique LOCALITY : ", len(pd.Series(data_temp['LOCALITY']).unique()))
print("\n\nUnique LOCALITY:\n", pd.Series(data_temp['LOCALITY']).unique())

all_localities = pd.Series(data_temp['LOCALITY']).unique()

Number of Unique Titles :  25


Unique Titles:
 ['CASUAL DINING' 'QUICK BITES' 'DESSERT PARLOR' 'CAFÃ‰' 'MICROBREWERY'
 'BAKERY' 'NONE' 'BAR' 'PUB' 'BEVERAGE SHOP' 'FINE DINING' 'SWEET SHOP'
 'FOOD COURT' 'LOUNGE' 'FOOD TRUCK' 'MESS' 'KIOSK' 'CLUB' 'DHABA'
 'MEAT SHOP' 'COCKTAIL BAR' 'CONFECTIONERY' 'PAAN SHOP' 'IRANI CAFE'
 'BHOJANALYA']


Number of Unique CUISINES :  106


Unique CUISINES:
 ['MALWANI' 'ASIAN' 'NORTH INDIAN' 'TIBETAN' 'DESSERTS' 'CAFE' 'BAR FOOD'
 'SOUTH INDIAN' 'FAST FOOD' 'ARABIAN' 'MAHARASHTRIAN' 'PARSI' 'CHINESE'
 'BAKERY' 'CONTINENTAL' 'ANDHRA' 'BIRYANI' 'ITALIAN' 'FINGER FOOD'
 'BEVERAGES' 'AMERICAN' 'EUROPEAN' 'ICE CREAM' 'KERALA' 'SEAFOOD' 'PIZZA'
 'MITHAI' 'ROLLS' 'THAI' 'JUICES' 'BURGER' 'HYDERABADI' 'MEDITERRANEAN'
 'GUJARATI' 'MEXICAN' 'HEALTHY FOOD' 'SANDWICH' 'INDIAN' 'COFFEE'
 'INDONESIAN' 'BBQ' 'BIHARI' 'LEBANESE' 'BENGALI' 'CHETTINAD' 'MUGHLAI'
 'STREET FOOD' 'RAJASTHANI' 'PORTUGUESE' 'ORIYA' 'JAPANESE' 'ETHIOPIAN'
 'MODERN INDIAN' 'SPANISH' 'RUSSIAN' 'MANGALOREAN' 'TURKISH' 'STEAK'
 'KEBAB' 'WRAPS' 'MOMOS' 'NAGA' 'BURMESE' 'MALAYSIAN' 'KOREAN' 'TEA'
 'SINDHI' 'VIETNAMESE' 'GOAN' 'FRENCH' 'RAW MEATS' 'SALAD'
 'MIDDLE EASTERN' 'KASHMIRI' 'NORTH EASTERN' 'SRI LANKAN' 'SUSHI'
 'TEX-MEX' 'AFGHAN' 'KONKAN' 'BUBBLE TEA' 'AFRICAN' 'GERMAN' 'DRINKS ONLY'
 'PAAN' 'ASSAMESE' 'NEPALESE' 'HOT DOGS' 'CAFE FOOD' 'AWADHI' 'BRITISH'
 'BOHRI' 'ARMENIAN' 'SOUTH AMERICAN' 'IRANIAN' 'LUCKNOWI'
 'CHARCOAL CHICKEN' 'TAMIL' 'PAKISTANI' 'IRISH' 'MULTI CUISINE'
 'ROAST CHICKEN' 'SINGAPOREAN' 'EGYPTIAN' 'BRAZILIAN' 'CANTONESE']


Number of Unique CITY :  445


Unique CITY:
 ['THANE' 'CHENNAI' 'MUMBAI' 'BANGALORE' 'GURGAON' 'HYDERABAD' 'KOCHI'
 'THANE WEST' 'ANDHERI LOKHANDWALA' 'NEW DELHI' 'ANDHERI WEST'
 'MALAD EAST' '682036' 'BANGALOR' 'NAVI MUMBAI' 'BANDRA WEST' 'DELHI'
 'NOIDA' 'BANGALORE-560066' 'SECUNDERABAD' nan 'INDIA' 'MADHURANAGAR'
 'CHENNAI TEYNAMPET' 'FARIDABAD' 'CHEMBUR.' 'MAHARASHTRA'
 'OPP GURUDWARA SHAKURPUR' 'TELAGANA LAND LINE:040-48507016' 'GHAZIABAD'
 'KARNATAKA' 'KERALA' 'EDAPPALLY' 'KADAVANTHRA' 'ERNAKULAM CIRCLE KOCHI'
 'BENGALORE' 'NEAR RELIANCE FRESH' 'KILPAUK' 'BENGALURU' 'KOTHAGUDA'
 'GOREGAON WEST' 'BANGLORE' 'TAMIL NADU' 'KAKKANAD' 'KOCHI ELAMKULAM'
 'OUTER RING ROAD' 'MULUND EAST'
 'SECUNDERABAD MAIN ROAD NEAR SIGNAL NMREC COLLEGE' 'TELANGANA'
 'PONNURUNI KOCHI' 'GACHIBOWLI' 'SEMMANCHERI'
 '5TH MAIN TEACHERS COLONY KORAMANGALA BLOCK 1 BANGALORE 560034'
 'MUMBAI MAHIM' 'POWAI (NEXT TO POWAI PLAZA)' 'DOMBIVALI EAST'
 'KOCHI VYTTILA' 'KANDIVALI' 'KOCHI PALARIVATTOM' 'DEWAN RAMA ROAD'
 'GURUGRAM' 'SECTOR 51 NOIDA' 'KALOOR' 'BESANT NAGAR'
 'ARUMBAKKAM CHENNAI-600106.' 'ADJACENT TO COMMERCIAL STREET' 'DELHI NCR'
 'DWARKA' '682035.' 'KALYAN WEST' 'AVADI' 'KONDAPUR' 'MEHDIPATNAM'
 'GANDIPET' 'VELACHERY' 'PALLAVARAM' 'VIJAYA NAGAR' 'BTM LAYOUT'
 'CHENNAI 600034.'
 'METRO PILLAR NO 21. METTUGUDA MAIN ROAD NEAR RAILWAY DEGREE COLLEGE.'
 'CHENNAI - 600040' 'JP NAGAR BANGALORE' 'MADHAPUR' 'ERNAKULAM' 'SARJAPUR'
 'WHITEFIELD BANGALORE' 'KOCHI CHULLICKAL' 'KOCHI-683101'
 'BANGALORE - 560076' 'ROHINI' 'HYDERABAD BEHIND VACS PASTRIES'
 'HYDERABAD NEERUS EMPORIUM.' 'NAVI MUMBAI.' 'KAROL BAGH' 'PERUNGUDI'
 'THYKOODAM' 'GREATER NOIDA' 'BANGALORE.' 'KHAIRATABAD' 'CHULLICKAL'
 'GRANT ROAD WEST' 'HITECH CITY' 'WEST MAREDPALLY' 'MUMBAI - 400007'
 'CHENNAI PADUR' 'CHANDER NAGAR NEW DELHI' 'NEDUMBASSERY' 'MG ROAD'
 'NAYA NAGAR MIRA ROAD' 'PITAMPURA' 'LOWER PAREL' 'HBR LAYOUT'
 'TELANGANA 500003' 'RAJIV GANDHI NAGAR' 'NEW DELHI.' 'MEDAVAKKAM'
 'SATHYA NAGAR' 'P.O KOCHI' 'BEHIND RAMALAYAM TEMPLE' 'PALARIVATTOM'
 'BRIGADE ROAD' 'MUMBAI.' 'MUMBAI ANDHERI EAST' 'VIRAR WEST' 'B-1 STAGE'
 'CHENNAI KOVALAM' 'HYDERABAD.' 'ALUVA' 'TELANGANA 500034'
 'IOB BANK KAMALA NAGAR' 'HSR LAYOUT' 'MARINE DRIVE' 'DLF GALLERIA'
 'NALLATHAMBI MAIN ROAD' 'CHENNAI OPP: VASANTH & CO' 'CITYPARK'
 'KARNATAKA 560103' 'BHAYANDAR' 'ALUVA CIRCLE' 'THAMMENAHALLI VILLAGE'
 'SG PALYA' 'ATTAPUR.' 'NEAR SHANGRILLA BUS STOP' 'KHAR (WEST)' 'ROAD 3'
 'KUKATPALLY' 'FARIDABD' 'TELANGANA 500032' 'DILSUKHNAGAR'
 'MOGAPPAIR. CHENNAI' 'NEAR MUNRSHWARA TEMPLE' 'OFF BRIGADE ROAD'
 'KHAR WEST' 'POTHERI' 'CHENNAI PERUNGUDI' 'CHENNAI THURAIPAKKAM'
 'OMR KARAPAKKAM' 'HYDERABAD-500032' 'MUMBAI DOMBIVALI EAST'
 'CHENNAI THOUSAND LIGHTS' 'MAHIM' 'LINGAMPALLY' 'POWAI'
 'NEW DELHI-110024' 'CHENNAI- 600107' 'KERALA 683104' 'VASAI WEST.'
 'THANE (W)' 'NEAR SANTOSH BANJARA HYDERABAD'
 'BANASWADI (NEXT TO INDIAN BANK) BANGALORE' 'BTM BANGALORE'
 'GREATER KAILASH 2 NEW DELHI' 'SECUNDERABAD ECIL'
 'BANGALORE KORAMANGALA 7TH BLOCK' 'BANGALORE : 560085'
 'GACHIBOWLI HYDERABAD'
 'CPR LAYOUT HARLUR MAIN ROAD OPPOSITE TO OZONE EVER GREEN APARTMENT BANGALORE -'
 'ECR NEELANKARAI CHENNAI 600115' 'WARD X11' 'PERUMBAVOOR'
 'MIRA RAOD EAST' 'KERALA 682013' 'CHENNAI.' 'POKHRAN ROAD 2'
 'UTTAR PRADESH' 'KARNATAKA 560102' 'MUMBAI - 400013' 'NAHARPAR'
 'HOSUR ROAD' 'NEAR BHARAT PETROLEUM.'
 'CHENNAI (BANG OPPOSITE INDIAN BANK)' 'SRIRAM NAGAR' 'WEST MUMBAI'
 'VYTTILA' 'BANJARA HILLS' 'MALAPALLIPURAM P .O THRISSUR'
 'ANDHERI WEST MUMBAI' 'KARNATAKA 560043' 'PANAMPILLY NAGAR'
 'BORIVALI EAST.' 'ECIL' 'JUBILEE HILLS'
 'AMRIT KAUR MARKET OPPOSITE NEW DELHI RAILWAY STATION PAHARGANJ'
 'CHENNAI OPPOSITE 5C BUS STAND' 'TELENGANA' 'KOCHI RAVIPURAM' 'RAJANPADA'
 'MAHABALIPURAM' 'SECUNDERABAD. WE HAVE NO BRANCHES.' 'TELANGANA 500081'
 'GURGOAN' 'ELAMAKKARA' 'SECTOR 1' 'BANDRA W' 'KOLATHUR'
 'CHENNAI MAHABALIPURAM' '3RD STREET' 'MUMBAI CHAKALA' 'BORIVALI WEST'
 'RODEO DRIVE SECTOR 49' 'PALLIMUKKU' 'DELHI 110085' 'SECTOR 51'
 'CHAMPAPET' 'ANDAVAR NAGAR' 'BANGALORE - 560103' 'KERALA 690525'
 'OPP MUKTESHWAR ASHRAM POWAI' 'NUNGAMBAKKAM' 'BK GUDA'
 'JOGESHWARI (W) MUMBAI' 'KUKATAPALLY' 'NEAR SECTOR 110 NOIDA' 'NAVALLUR'
 'BESIDE EXCELLENCY GARDENS' 'MUMBAI - 80' 'BEGUMPET'
 'MAHARAJA HOTEL BESIDE GARDANIA BAR' 'ASHOK VIHAR PHASE 1' 'TRIVANDRUM'
 'KOCHI-18' 'NARAYANGUDA' 'THEVERA' 'CHENNAI-40' 'PALM BEACH ROAD'
 'EAST COAST ROAD (ECR)' 'RAMAPURAM' 'CHENNAI CHROMPET' 'NANDANAM' 'SAKET'
 'MG ROAD ERNAKULAM' 'ANDHERI LOKHANDWALA.' 'INDIRANAGAR' 'THIRUVANMIYUR'
 'AMBATTUR' 'BANGLAORE' 'CHENNAI - 34 LANDMARK - NEAR LOYOLA COLLEGE'
 'ANNA NAGAR WEST' 'OLD RAILWAY ROAD' 'EAST MUMBAI'
 'KANAKAPURA ROAD BANGLORE' 'KOCHI KAKKANAD' 'KALYAN'
 'NEAR RAMLILA GROUND' 'SERILINGAMPALLY' 'HIMAYATH NAGAR' 'NALLALA STREET'
 'ANNA SALAI' 'OLD DELHI' 'WAGLE ESTATE' '1ST STAGE' 'KOCHI-16'
 'KOCHI INTERNATIONAL AIRPORT VIP ROAD' 'FIRST STREET' 'CHENN AI'
 '6 & 7 - 4/64 SUBHASH NAGAR' '1ST TAVAREKERE' 'PERAMBUR'
 'VAISHALI GHAZIABAD' 'THANISANDRA' 'BLOCK F' 'SECTOR 7 DWARKA'
 'OPPOSITE BARATHI GAS COMPANY' 'VADAPALANI' 'KONDAPUR.' 'BADLAPUR WEST.'
 'KALAMASSERY' 'PALAVAKKAM' 'TCS SYNERGY PARK' 'BTM 1ST STAGE'
 'MAHADEVPURA' 'NEW BEL ROAD 560054'
 'VELIAVEETIL HOUSE VIVEKANANDA NAGAR ELAMAKKARA' 'SHOLINGANALLUR'
 'MAHARASHTRA 400102' 'LOWER PAREL WEST' 'TRIPUNITHURA' 'MOGAPPAIR'
 'TELANGANA 500070' 'JP NAGAR' 'NAVI-MUMBAI' 'ASHOK NAGAR' 'MARATHAHALLI'
 'HARIDWAR APARTMENTS' 'KERALA 682001 INDIA' 'KARNATAKA 560037'
 'KERALA 683585' 'CHENNAI. (NEAR HOTEL MATSHYA)' 'INDIRAPURAM'
 'BEGUMPET HYDERABAD' 'MANIKONDA'
 'BANGALORE LAND MARK ABOVE MAHAVEER HARD WARE' 'KERALA 682304'
 'RAJARAJESHWARI NAGAR BANGALORE' 'GST ROAD' 'FORT KOCHI'
 'LAHARI APARTMENTS' 'RAMANTHAPUR' 'MULUND WEST' 'GURGAON HARYANA INDIA'
 'NEW DELHI..NEAR BY SBI BANK' 'KOCHI ALUVA 102' 'PHASE 1 BANGALORE'
 'HYDERABAD MANIKONDA'
 'MUMBAI THIS IS A DELIVERY & TAKE-AWAY RESTAURANT ONLY.' '10TH AVENUE'
 'UPPAL' 'NEW DELHI 110075' 'NIZAMPET' 'ULSOO' 'BANGALORE 560076'
 'PVR PLAZA CINEMA BUILDING CONNAUGHT PLACE' 'GURGAON HARYANA' 'CHROMEPET'
 'KERALA 682024' 'JANAKPURI' 'SECUNDERABAD.'
 'B.B.M.P EAST (KARNATAKA) - 560049' 'TAMBARAM' 'MALLESHWARAM BANGALORE'
 'VADAPALANI.' 'DIST. CENTER NEW DELHI' 'BANGALORE ROAD' 'KOCHI.'
 'THANE MUMBAI' 'KADUBESANAHALLI BANGALORE' 'VASAI WEST'
 'MIG HOUSING SOCIETY' 'HARYANA' 'BORIVALI WEST.' 'GOLF COURSE ROAD'
 'KHAR MUMBAI' 'NEAR JYOTHINIVAS COLLEGE' 'ANNA NAGAR EAST' 'MASAB TANK'
 'VASAI MUMBAI' 'PANATHUR MAIN ROAD' 'NEAR ANDHERI WEST STATION'
 'OPPOSITE TO WESTERN SIDE OF ITPL SERVICE GATE' 'KALKAJI' 'APR CHAMBERS'
 'TAMIL NADU 600102' 'MAHARASHTRA.' 'GANDHINAGAR RD'
 'NEAR ANDHERI EAST STATION' 'WHITEFIELD' 'KERALA 682036'
 'MIRA ROAD THANE MUMBAI' 'INDIA GATE NEW DELHI' 'BANGALORE - 560095'
 'SHOLINGANALLUR. CHENNAI' 'CHENNAI (ABOVE BOMBAY BRASSERIE)' 'CHENNAI 37'
 '682024' 'GIRGAUM' 'GREATER KAILASH 1 (GK 1) NEW DELHI' 'KURLA (W)'
 'MUMBAI 400015' 'THANE WEST THANE WEST' 'KOCHI PANAMPILLY NAGAR' 'MARAD'
 'MAHARASHTRA 400092' 'NEAR SECTOR 34' 'MEHDIPATNAM HYDERABAD'
 'NALLAGANDLA' 'VANDALUR' 'CHENNAI 40' 'SECUNDERBAD' 'MM NAGAR'
 'MUMBAI 400070' 'CHITTETHUKKARA' 'BTM' 'DOMBIVLI' 'SAHAKARA NAGAR'
 'MOHAMMAD ALI ROAD MUMBAI' 'CHENNAI 600040' 'TAVAREKERE MAIN ROAD'
 'COMMUNITY CENTRE' 'KERALA 682022' 'DELH.' 'SECTOR-6 NOIDA 201301'
 'KAARAIKUDI COMPLEX' 'THIRUVANMIYUR (OPP EUROKIDS LB ROAD)'
 'VIRAR MUMBAI' 'TOLICHOWKI' 'HYDERABA' 'KERALA 682305' 'ALWARPET'
 'KERALA 682015' 'MUMBAI VEERA DESAI AREA' 'KERALA 682018' 'KERALA 682028'
 'SURARAM' 'CHENNAI VELACHERY'
 'FORUM SUJANA MALL OPPOSITE TO MALAYSIAN TOWNSHIP' 'OLD HAFEEZPET'
 'YOUSUFGUDA' 'CHENNAI-600008' 'MUMBAI ULHASNAGAR'
 'JOGESHWARI WEST MUMBAI' 'CHEPAUK' 'CHOWPATTY' 'CHURCH STREET'
 'BALAVINAYAGAR NAGAR CHENNAI' 'T-NAGAR CHENNAI' 'RA PURAM'
 'HYDERABAD.STAR HYPERMARKET OPPOSITE SIDE SERVICE ROAD'
 'CHENNAI INJAMBAKKAM' 'MUMBAI MUMBRA' 'HABSIGUDA' 'KURLA MUMBAI'
 'TELANGANA 500027' 'CHENNA' 'KERALA 682021' 'KANDIVALI WEST'
 'CHENNAI-119' 'NOIDA EXTENTION' 'SHIHAB THANGAL ROAD' 'NEW DELHI 110011'
 'MIUMBAI' 'BORIVALI (W) MUMBAI: 400 092.' 'VANASTHALIPURAM' 'KK ROAD'
 'CHENNAI - 600018' 'OPPOSITE ELLORA BUILDING']


Number of Unique LOCALITY :  1611


Unique LOCALITY:
 ['DOMBIVALI EAST' 'RAMAPURAM' 'SALIGRAMAM' ... 'OFF CARTER ROAD'
 'SRM BACK GATE' 'PERRY CROSS ROAD']

/home/sahil/anaconda3/envs/tensorflow/lib/python3.7/site-packages/ipykernel_launcher.py:12: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if sys.path[0] == '':

In [380]:
###############################################################################################################################################

# Data Cleaning

###############################################################################################################################################


# Cleaning Training Set
#______________________

# TITLE - 2 titels

new_df_1 = training_data['TITLE'].str.split(',',expand=True)
training_data['TITLE1'] = new_df_1[0].str.upper()
training_data['TITLE2'] = new_df_1[1].str.upper()
training_data['TITLE2'] = training_data['TITLE2'].str.replace('None','NONE')

#Cleaning CUISINES 
new_df_2 = training_data['CUISINES'].str.split(',',expand=True)
training_data['CUISINE1'] = new_df_2[0].str.upper()
training_data['CUISINE2'] = new_df_2[1].str.upper()
training_data['CUISINE3'] = new_df_2[2].str.upper()
training_data['CUISINE4'] = new_df_2[3].str.upper()
training_data['CUISINE5'] = new_df_2[4].str.upper()
training_data['CUISINE6'] = new_df_2[5].str.upper()
training_data['CUISINE7'] = new_df_2[6].str.upper()
training_data['CUISINE8'] = new_df_2[7].str.upper()
all_cuisines.append('None')

# Cleaning CITY
training_data['CITY'] = training_data['CITY'].str.upper()
training_data['CITY'].fillna('NOT AVAILABLE',inplace=True)

# Cleaning LOCALITY
training_data['LOCALITY'] = training_data['LOCALITY'].str.upper()
training_data['LOCALITY'].fillna('NOT AVAILABLE',inplace=True)

#Cleaning Rating
# training_data.dtypes
training_data['RATING'] = training_data['RATING'].str.replace('-','')
training_data['RATING'] = training_data['RATING'].str.replace('NEW','')
training_data['RATING'].fillna(0,inplace=True)
training_data['RATING'] = pd.to_numeric(training_data['RATING'])

# Votes
training_data['VOTES'].fillna('0 votes',inplace = True)
training_data['VOTES'] = training_data['VOTES'].str.replace('votes','')
training_data['VOTES'] = pd.to_numeric(training_data['VOTES'])


new_data_train = {}

new_data_train['TITLE1'] = training_data['TITLE1']
new_data_train['TITLE2'] = training_data['TITLE2']
new_data_train['RESTAURANT_ID'] = training_data["RESTAURANT_ID"]
new_data_train['CUISINE1'] = training_data['CUISINE1']
new_data_train['CUISINE2'] = training_data['CUISINE2']
new_data_train['CUISINE3'] = training_data['CUISINE3']
new_data_train['CUISINE4'] = training_data['CUISINE4']
new_data_train['CUISINE5'] = training_data['CUISINE5']
new_data_train['CUISINE6'] = training_data['CUISINE6']
new_data_train['CUISINE7'] = training_data['CUISINE7']
new_data_train['CUISINE8'] = training_data['CUISINE8']
new_data_train['CITY'] = training_data['CITY']
new_data_train['LOCALITY'] = training_data['LOCALITY']
new_data_train['RATING'] = training_data['RATING']
new_data_train['VOTES'] = training_data['VOTES']
new_data_train['COST'] = training_data["COST"]

new_data_train = pd.DataFrame(new_data_train)
new_data_train.head()


# Cleaning Test Set
#______________________

# TITLE - 2 titels

new_df_3 = test_data['TITLE'].str.split(',',expand=True)
test_data['TITLE1'] = new_df_3[0].str.upper()
test_data['TITLE2'] = new_df_3[1].str.upper()
test_data['TITLE2'] = test_data['TITLE2'].str.replace('None','NONE')
#Cleaning CUISINES 
new_df_4 = test_data['CUISINES'].str.split(',',expand=True)
test_data['CUISINE1'] = new_df_4[0].str.upper()
test_data['CUISINE2'] = new_df_4[1].str.upper()
test_data['CUISINE3'] = new_df_4[2].str.upper()
test_data['CUISINE4'] = new_df_4[3].str.upper()
test_data['CUISINE5'] = new_df_4[4].str.upper()
test_data['CUISINE6'] = new_df_4[5].str.upper()
test_data['CUISINE7'] = new_df_4[6].str.upper()
test_data['CUISINE8'] = new_df_4[7].str.upper()

# Cleaning CITY
test_data['CITY'] = test_data['CITY'].str.upper()
test_data['CITY'].fillna('NOT AVAILABLE',inplace=True)

# Cleaning LOCALITY
test_data['LOCALITY'] = test_data['LOCALITY'].str.upper()
test_data['LOCALITY'].fillna('NOT AVAILABLE',inplace=True)

#Cleaning Rating
# training_data.dtypes
test_data['RATING'] = test_data['RATING'].str.replace('-','')
test_data['RATING'] = test_data['RATING'].str.replace('NEW','')
test_data['RATING'].fillna(0,inplace=True)
test_data['RATING'] = pd.to_numeric(test_data['RATING'])

# Votes
test_data['VOTES'].fillna('0 votes',inplace = True)
test_data['VOTES'] = test_data['VOTES'].str.replace('votes','')
test_data['VOTES'] = pd.to_numeric(test_data['VOTES'])


new_data_test = {}

new_data_test['TITLE1'] = test_data['TITLE1']
new_data_test['TITLE2'] = test_data['TITLE2']
new_data_test['RESTAURANT_ID'] = test_data["RESTAURANT_ID"]
new_data_test['CUISINE1'] = test_data['CUISINE1']
new_data_test['CUISINE2'] = test_data['CUISINE2']
new_data_test['CUISINE3'] = test_data['CUISINE3']
new_data_test['CUISINE4'] = test_data['CUISINE4']
new_data_test['CUISINE5'] = test_data['CUISINE5']
new_data_test['CUISINE6'] = test_data['CUISINE6']
new_data_test['CUISINE7'] = test_data['CUISINE7']
new_data_test['CUISINE8'] = test_data['CUISINE8']
new_data_test['CITY'] = test_data['CITY']
new_data_test['LOCALITY'] = test_data['LOCALITY']
new_data_test['RATING'] = test_data['RATING']
new_data_test['VOTES'] = test_data['VOTES']
new_data_test['COST'] = test_data["COST"]

new_data_test = pd.DataFrame(new_data_test)

In [381]:
def morning_data_train():
    new_data_train.loc[:, ('MORNING')]=0
    for index,val in enumerate(training_data.loc[:,('TIME')]):
        if any(s in val for s in ['am', 'AM', 'Am', '24']):
            new_data_train.loc[index, 'MORNING'] = 1

def evening_data_train():
    new_data_train.loc[:, ('EVENING')] = 0
    for index, val in enumerate(training_data.loc[:, ('TIME')][:6]):
        if any(s in val for s in ['pm', 'PM' , 'Pm' , 'noon', '24']):
            new_data_train.loc[index, 'EVENING'] = 1


morning_data_train()
evening_data_train()


def morning_data_test():
    new_data_test.loc[:, ('MORNING')]=0
    for index,val in enumerate(test_data.loc[:,('TIME')]):
        if any(s in val for s in ['am', 'AM', 'Am', '24']):
            new_data_test.loc[index, 'MORNING'] = 1

def evening_data_test():
    new_data_test.loc[:, ('EVENING')] = 0
    for index, val in enumerate(test_data.loc[:, ('TIME')][:6]):
        if any(s in val for s in ['pm', 'PM' , 'Pm' , 'noon', '24']):
            new_data_test.loc[index, 'EVENING'] = 1
            
morning_data_test()
evening_data_test()

In [382]:

new_data_train['TITLE2'].str.replace('None','NONE')

0        None
1         BAR
2        None
3        None
4        None
         ...
12685    None
12686     BAR
12687    None
12688    None
12689    None
Name: TITLE2, Length: 12690, dtype: object

In [383]:
# Encoding Categorical Variables
#_______________________________

from sklearn.preprocessing import LabelEncoder

In [387]:
le_titles = LabelEncoder()
le_cuisines = LabelEncoder()

le_city = LabelEncoder()

le_locality = LabelEncoder()

le_titles.fit(all_titles)
le_cuisines.fit(all_cuisines)

le_city.fit(all_cities)
# le_locality.fit(all_localities)
new_data_train.TITLE2.fillna(value=pd.np.nan, inplace=True)
print(new_data_train['TITLE2'][0])

# Training Set  
new_data_train['TITLE1'] = le_titles.transform(new_data_train['TITLE1'])
new_data_train['TITLE2'] = le_titles.transform(new_data_train['TITLE2'])


# new_data_train['CUISINE1'] = le_cuisines.transform(new_data_train['CUISINE1'])
# new_data_train['CUISINE2'] = le_cuisines.transform(new_data_train['CUISINE2'])
# new_data_train['CUISINE3'] = le_cuisines.transform(new_data_train['CUISINE3'])
# new_data_train['CUISINE4'] = le_cuisines.transform(new_data_train['CUISINE4'])
# new_data_train['CUISINE5'] = le_cuisines.transform(new_data_train['CUISINE5'])
# new_data_train['CUISINE6'] = le_cuisines.transform(new_data_train['CUISINE6'])
# new_data_train['CUISINE7'] = le_cuisines.transform(new_data_train['CUISINE7'])
# new_data_train['CUISINE8'] = le_cuisines.transform(new_data_train['CUISINE8'])


# new_data_train['CITY'] = le_city.transform(new_data_train['CITY'])
# new_data_train['LOCALITY'] = le_locality.transform(new_data_train['LOCALITY'])

# # Test Set

# new_data_test['TITLE1'] = le_titles.transform(new_data_test['TITLE1'])
# new_data_test['TITLE2'] = le_titles.transform(new_data_test['TITLE2'])


# new_data_test['CUISINE1'] = le_cuisines.transform(new_data_test['CUISINE1'])
# new_data_test['CUISINE2'] = le_cuisines.transform(new_data_test['CUISINE2'])
# new_data_test['CUISINE3'] = le_cuisines.transform(new_data_test['CUISINE3'])
# new_data_test['CUISINE4'] = le_cuisines.transform(new_data_test['CUISINE4'])
# new_data_test['CUISINE5'] = le_cuisines.transform(new_data_test['CUISINE5'])
# new_data_test['CUISINE6'] = le_cuisines.transform(new_data_test['CUISINE6'])
# new_data_test['CUISINE7'] = le_cuisines.transform(new_data_test['CUISINE7'])
# new_data_test['CUISINE8'] = le_cuisines.transform(new_data_test['CUISINE8'])


# new_data_test['CITY'] = le_city.transform(new_data_test['CITY'])
# new_data_test['LOCALITY'] = le_locality.transform(new_data_test['LOCALITY'])


# # Classifying Independent and Dependent Features
# #_______________________________________________

# # Dependent Variable
# Y_train = new_data_train.iloc[:, -1].values  

# # Independent Variables
# X_train = new_data_train.iloc[:,0 : -1].values

# # Independent Variables for Test Set
# X_test = new_data_test.iloc[:,:].values


# # Feature Scaling
# #________________

# from sklearn.preprocessing import StandardScaler

# sc = StandardScaler()

# X_train = sc.fit_transform(X_train)

# X_test = sc.transform(X_test)


# Y_train = Y_train.reshape((len(Y_train), 1)) 

# Y_train = sc.fit_transform(Y_train)

# Y_train = Y_train.ravel()

nan

ValueError: y contains previously unseen labels: [0, 1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]